@{ 
    ViewData["Title"] = "Eliminar Usuario";
}

@using Tp11.ViewModels
@model EliminarUsuarioViewModel
<h2>Confirmar eliminación</h2>

<a class="btn btn-danger" asp-controller="Usuario" asp-action="EliminarFromFormulario" asp-route-idUsuario="@Model.Id">Eliminar</a>                         

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
