@{ 
    ViewData["Title"] = "Eliminar Usuario";
}

@using Tp11.ViewModels
@model UsuarioViewModel
<h2>Confirmar eliminación</h2>

<form asp-controller="Usuario" asp-action="EliminarFromFormulario">
    <input asp-for="@Model.Id" type="hidden" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
