@{
    ViewData["Title"] = "Usuarios";
}

@using Tp11.ViewModels
@model List<ListarUsuarioViewModel>

<h2>Lista Usuarios</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td hidden>@usuario.Id</td>
                <td>@usuario.Nombre</td>
                <td>
                    <a asp-controller="Usuario" asp-action="EditarUsuario" asp-route-idUsuario="@usuario.Id">Editar</a>
                    <a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>                      
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <a asp-controller="Usuario" asp-action="AgregarUsuario">Agregar Usuario</a>
        </tr>
    </tfoot>
</table>